<h1>Create a new Skipper</h1>

<form method="POST" action="/skippers">
  <input type="text" name="skipper[name]" placeholder="Name">
  <input type="password" name="skipper[password]" placeholder="Password">
  <input type="text" name="skipper[wingspan]" placeholder="Wingspan">
  <input type="submit" value="Create this Skipper!">
</form>
