<%# there is a local variable in this scope %>
<%# called `skill` because it got passed %>
<%# in via `locals` in whichever scope invoked erb %>
<li><a href="/skills/<%= skill.id %>"><%= skill.name %></a></li>
