<h1>All current skills</h1>

<h3>Create a new skill</h3>
<form id="new-skill-form" method="POST" action="/skills">
  <input type="text" name="name" placeholder="Skill Name">
  <input type="submit" value="Create new skill">
</form>

<ul id="skills-list">
  <% @skills.each do |skill| %>
    <%= erb :'/skills/_individual_skill', locals: {skill: skill} %>
  <% end %>
</ul>