<div class="vote-button-container">
  <form class="upvote-form" method="POST" action="/<%= resource %>/<%= id %>/upvote">
    <input class="upvote-button" type="submit" value="▲">
  </form>
  <form class="downvote-form" method="POST" action="/<%= resource %>/<%= id %>/downvote">
    <input class="downvote-button" type="submit" value="▼">
  </form>
</div>